{{- if .Values.services.postgres.local_setup }}

{{- if (empty .Values.external_secrets.pgdb_existingSecret) }}
apiVersion: v1
kind: Secret
type: Opaque
  metadata:
    namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-pgdb-secrets
stringData:
  POSTGRES_USER: {{ .Values.env.pgdb_username | default "plane" | quote }}
  POSTGRES_PASSWORD: {{ .Values.env.pgdb_password | default "plane" | quote }}
  POSTGRES_DB: {{ .Values.env.pgdb_name | default "plane" | quote }}
{{- end }}
---

apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-pgdb-vars
data:
  POSTGRES_USER: {{ .Values.env.pgdb_username | default "plane" | quote }}
  init-dbs.sql: |
    CREATE EXTENSION IF NOT EXISTS dblink;

    SELECT 'CREATE DATABASE {{.Values.env.pgdb_name}}'
    WHERE NOT EXISTS (
        SELECT FROM pg_database WHERE datname = '{{.Values.env.pgdb_name}}'
    )\gexec
    
    SELECT 'CREATE DATABASE {{.Values.env.pg_pi_db_name}}'
    WHERE NOT EXISTS (
        SELECT FROM pg_database WHERE datname = '{{.Values.env.pg_pi_db_name}}'
    )\gexec

{{- end }}