{{- if .Values.services.pi.enabled }}

apiVersion: v1
kind: Secret
type: Opaque
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-pi-common-secrets
stringData:
  {{- if .Values.services.postgres.local_setup }}
  FOLLOWER_POSTGRES_URI: "postgresql://{{ .Values.env.pgdb_username }}:{{ .Values.env.pgdb_password }}@{{ .Release.Name }}-pgdb.{{ .Release.Namespace }}.svc.cluster.local/{{ .Values.env.pgdb_name }}"
  {{- else if .Values.env.pgdb_remote_url }}
  FOLLOWER_POSTGRES_URI: {{ .Values.env.pgdb_remote_url | quote }}
  {{- else }}
  FOLLOWER_POSTGRES_URI: ""
  {{- end }}
  {{- if .Values.services.minio.local_setup }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.services.minio.root_password | default "password" | quote }}
  {{- else }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.env.aws_secret_access_key | default "" | quote }}
  {{- end }}
  {{- if .Values.services.opensearch.local_setup }}
  OPENSEARCH_PASSWORD: {{ .Values.services.opensearch.password | default "Secure@Pass#123!%^&*" | quote }}
  {{- else if .Values.env.opensearch_remote_url }}
  OPENSEARCH_PASSWORD: {{ .Values.env.opensearch_remote_password | default "" | quote }}
  {{- else }}
  OPENSEARCH_PASSWORD: ""
  {{- end }}
---

apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-pi-common-vars
data:
  {{- if .Values.services.opensearch.local_setup }}
  OPENSEARCH_URL: "http://{{ .Release.Name }}-opensearch.{{ .Release.Namespace }}.svc.cluster.local:9200"
  OPENSEARCH_USER: {{ .Values.services.opensearch.username | default "plane" |  quote }}
  OPENSEARCH_INDEX_PREFIX: {{ .Values.env.opensearch_index_prefix | default "" | quote }}
  {{- else if .Values.env.opensearch_remote_url }}
  OPENSEARCH_URL: {{ .Values.env.opensearch_remote_url | quote }}
  OPENSEARCH_USER: {{ .Values.env.opensearch_remote_username | default "" |  quote }}
  OPENSEARCH_INDEX_PREFIX: {{ .Values.env.opensearch_index_prefix | default "" | quote }}
  {{- else }}
  OPENSEARCH_URL: ""
  OPENSEARCH_USER: ""
  OPENSEARCH_INDEX_PREFIX: ""
  {{- end }}
  OPENSEARCH_ML_MODEL_ID: {{ .Values.env.pi_envs.opensearch_ml_model_id | default "" |  quote }}

  CELERY_VECTOR_SYNC_ENABLED: {{ .Values.env.pi_envs.celery.vector_sync_enabled | ternary "1" "0" | quote }}
  CELERY_VECTOR_SYNC_INTERVAL: {{ .Values.env.pi_envs.celery.vector_sync_interval | default 3 | quote }}
  CELERY_WORKSPACE_PLAN_SYNC_ENABLED: {{ .Values.env.pi_envs.celery.workspace_plan_sync_enabled | ternary "1" "0" | quote }}
  CELERY_WORKSPACE_PLAN_SYNC_INTERVAL: {{ .Values.env.pi_envs.celery.workspace_plan_sync_interval | default 86400 | quote }}
  CELERY_DOCS_SYNC_ENABLED: {{ .Values.env.pi_envs.celery.docs_sync_enabled | ternary "1" "0" | quote }}
  CELERY_DOCS_SYNC_INTERVAL: {{ .Values.env.pi_envs.celery.docs_sync_interval | default 86400 | quote }}

  {{- if .Values.services.minio.local_setup }}
  AWS_ACCESS_KEY_ID: {{ .Values.services.minio.root_user | default "admin" | quote }}
  AWS_S3_BUCKET: {{ .Values.env.docstore_bucket | default "uploads" | quote }}
  AWS_S3_REGION: {{ .Values.env.aws_region | default "us-east-1" | quote }}
  AWS_S3_ENDPOINT_URL: http://{{ .Release.Name }}-minio.{{ .Release.Namespace }}.svc.cluster.local:9000
  {{- else }}
  AWS_ACCESS_KEY_ID: {{ .Values.env.aws_access_key | default "" | quote }}
  AWS_S3_BUCKET: {{ .Values.env.docstore_bucket | default "" | quote }}
  AWS_S3_REGION: {{ .Values.env.aws_region | default "" | quote }}
  AWS_S3_ENDPOINT_URL: {{ .Values.env.aws_s3_endpoint_url | default "" | quote }}
  {{- end }}

  DEBUG: {{ if .Values.services.pi.debug }} "1" {{- else -}} "0" {{ end }}

---
{{- end }}