planeVersion: stable

dockerRegistry:
  enabled: false
  host: "index.docker.io/v1/"
  loginid: makeplane
  password: ""

ingress:
  enabled: true
  appHost: "plane.example.com"
  minioHost: "plane-minio.example.com"
  ingressClass: "nginx"
  ingress_annotations: {
    "nginx.ingress.kubernetes.io/proxy-body-size": "5m",
  }

# SSL Configuration - Valid only if ingress.enabled is true
ssl:
  createIssuer: false
  issuer: "http" # Allowed : cloudflare, digitalocean, http
  token: "" # not required for http
  server: https://acme-v02.api.letsencrypt.org/directory
  email: plane@example.com
  generateCerts: false

redis:
  local_setup: true
  image: valkey/valkey:7.2.5-alpine
  servicePort: 6379
  storageClass: longhorn
  volumeSize: 1Gi
  pullPolicy: IfNotPresent

postgres:
  local_setup: true
  image: postgres:15.5-alpine
  servicePort: 5432
  cliConnectPort: ""
  storageClass: longhorn
  volumeSize: 5Gi
  pullPolicy: IfNotPresent

rabbitmq:
  local_setup: true
  image: rabbitmq:3.13.6-management-alpine
  pullPolicy: IfNotPresent
  amqp_servicePort: 5672
  mgmt_servicePort: 15672
  volumeSize: 1Gi
  storageClass: standard

minio:
  image: minio/minio:latest
  local_setup: true
  pullPolicy: IfNotPresent
  root_password: password
  root_user: admin
  storageClass: longhorn
  volumeSize: 5Gi

web:
  replicas: 1
  memoryLimit: 1000Mi
  cpuLimit: 500m
  image: makeplane/plane-frontend
  pullPolicy: IfNotPresent

space:
  replicas: 1
  memoryLimit: 1000Mi
  cpuLimit: 500m
  image: makeplane/plane-space
  pullPolicy: IfNotPresent

admin:
  replicas: 1
  memoryLimit: 1000Mi
  cpuLimit: 500m
  image: makeplane/plane-admin
  pullPolicy: IfNotPresent

api:
  replicas: 1
  memoryLimit: 1000Mi
  cpuLimit: 500m
  image: makeplane/plane-backend
  pullPolicy: IfNotPresent

worker:
  replicas: 1
  memoryLimit: 1000Mi
  cpuLimit: 500m
  image: makeplane/plane-backend
  pullPolicy: IfNotPresent

beatworker:
  replicas: 1
  memoryLimit: 1000Mi
  cpuLimit: 500m
  image: makeplane/plane-backend
  pullPolicy: IfNotPresent

env:
  pgdb_username: plane
  pgdb_password: plane
  pgdb_name: plane
  pgdb_remote_url: "" #INCASE OF REMOTE PG DB URL ONLY

  # NEXT_PUBLIC_DEPLOY_URL:  ""
  # REDIS
  remote_redis_url: "" #INCASE OF REMOTE REDIS ONLY
  # POSTGRES DB VALUES

  # DATA STORE
  docstore_bucket: "uploads"
  doc_upload_size_limit: "5242880" # 5MB

  # REQUIRED IF MINIO LOCAL SETUP IS FALSE
  aws_access_key: ""
  aws_secret_access_key: ""
  aws_region: ""
  aws_s3_endpoint_url: ""
  
  secret_key: "60gp0byfz2dvffa45cxl20p1scy9xbpf6d8c5y0geejgkyp1b5"

  sentry_dsn: ""
  sentry_environment: ""

  cors_allowed_origins: ""
  default_cluster_domain: cluster.local

  rabbitmq_username: guest
  rabbitmq_password: guest
  rabbitmq_vhost: plane
