apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-monitor
  labels:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-monitor
spec:
  type: ClusterIP
  {{- if not .Values.services.monitor.assign_cluster_ip }}
  clusterIP: None
  {{- end }}
  ports:
  - name: monitor-8080
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-monitor
---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-monitor-wl
  {{- include "plane.labelsAndAnnotations" .Values.services.monitor }}
spec:
  selector:
    matchLabels:
      app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-monitor
  serviceName:  {{ .Release.Name }}-monitor
  template:
    metadata:
      labels:
        app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-monitor
      annotations:
        timestamp: {{ now | quote }}
    spec:
      containers:
      - image: {{ .Values.services.monitor.image | default "artifacts.plane.so/makeplane/monitor-commercial" }}:{{ .Values.planeVersion }}
        imagePullPolicy: {{ .Values.services.monitor.pullPolicy | default "Always" }}
        name: {{ .Release.Name }}-monitor
        stdin: true
        tty: true
        {{- if .Values.airgapped.enabled }}
        command:
          - prime-monitor
        args:
          - start-airgapped
        {{- end }}
        resources:
          requests:
            memory: {{ .Values.services.monitor.memoryRequest | default "50Mi" | quote }}
            cpu: {{ .Values.services.monitor.cpuRequest | default "50m" | quote }}
          limits:
            memory: {{ .Values.services.monitor.memoryLimit  | default "1000Mi" | quote }}
            cpu: {{ .Values.services.monitor.cpuLimit | default "500m" | quote}}
        envFrom:
          - configMapRef:
              name: {{ .Release.Name }}-monitor-vars
              optional: false
        {{- if .Values.extraEnv }}
        env:
          {{- toYaml .Values.extraEnv | nindent 10 }}
        {{- end }}
        volumeMounts:
        - mountPath: /app
          name: pvc-{{ .Release.Name }}-monitor-vol
          subPath: ''
      {{- include "plane.podScheduling" .Values.services.monitor }}
      serviceAccount: {{ .Release.Name }}-srv-account
      serviceAccountName: {{ .Release.Name }}-srv-account
  volumeClaimTemplates:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      creationTimestamp: null
      namespace: {{ .Release.Namespace }}
      name: pvc-{{ .Release.Name }}-monitor-vol
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ .Values.services.monitor.volumeSize | default "100Mi" | quote }}
      storageClassName: {{ .Values.env.storageClass | quote }}
      volumeMode: Filesystem
      