
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-space
  labels:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-space
spec:
  type: ClusterIP
  {{- if not .Values.services.space.assign_cluster_ip }}
  clusterIP: None
  {{- end }}
  ports:
  - name: space-3000
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-space

---

apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-space-wl
  {{- include "plane.labelsAndAnnotations" .Values.services.space }}
spec:
  replicas: {{ .Values.services.space.replicas | default 1 }}
  selector:
    matchLabels:
      app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-space
  template:
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-space
      annotations:
        timestamp: {{ now | quote }}
    spec:
      containers:
      - name: {{ .Release.Name }}-space
        imagePullPolicy: {{ .Values.services.space.pullPolicy | default "Always" }}
        image: {{ .Values.services.space.image | default "artifacts.plane.so/makeplane/space-commercial" }}:{{ .Values.planeVersion }}
        stdin: true
        tty: true
        resources:
          requests:
            cpu: {{ .Values.services.space.cpuRequest | default "100m" | quote }}
            memory: {{ .Values.services.space.memoryRequest | default "200Mi" | quote }}
          limits:
            cpu: {{ .Values.services.space.cpuLimit | default "500m" | quote}}
            memory: {{ .Values.services.space.memoryLimit  | default "1000Mi" | quote }}
            cpu: {{ .Values.services.space.cpuLimit | default "500m" | quote}}
        {{- if .Values.extraEnv }}
        env:
          {{- toYaml .Values.extraEnv | nindent 10 }}
        {{- end }}
      {{- include "plane.podScheduling" .Values.services.space }}
      serviceAccount: {{ .Release.Name }}-srv-account
      serviceAccountName: {{ .Release.Name }}-srv-account
---
{{- if eq (include "enable.hpa" . | trim) "true" }}

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Release.Name }}-space-hpa
  namespace: {{ .Release.Namespace }}
  labels:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-space-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Release.Name }}-space-wl
  minReplicas: {{ .Values.services.space.autoscaling.minReplicas | default 1 }}
  maxReplicas: {{ .Values.services.space.autoscaling.maxReplicas | default 5 }}
  {{- if or .Values.services.space.autoscaling.targetCPUUtilizationPercentage .Values.services.space.autoscaling.targetMemoryUtilizationPercentage }}
  metrics:
    {{- if .Values.services.space.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.services.space.autoscaling.targetCPUUtilizationPercentage | default 90 }}
    {{- end }}
    {{- if .Values.services.space.autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ .Values.services.space.autoscaling.targetMemoryUtilizationPercentage | default 90 }}
    {{- end }}
  {{- end }}
{{- end }}
---