
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-admin
  labels:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-admin
spec:
  {{- if not .Values.admin.assign_cluster_ip }}
  clusterIP: None
  {{- end }}
  ports:
  - name: admin-3000
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-admin

---

apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-admin-wl
  {{- template "plane.labelsAndAnnotations" .Values.admin }}
spec:
  replicas: {{ .Values.admin.replicas | default 1 }}
  selector:
    matchLabels:
      app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-admin
  template:
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-admin
      annotations:
        timestamp: {{ now | quote }}
    spec:
      containers:
      - name: {{ .Release.Name }}-admin
        imagePullPolicy: {{ .Values.admin.pullPolicy | default "Always" }}
        image: {{ .Values.admin.image | default "artifacts.plane.so/makeplane/plane-frontend" }}:{{ .Values.planeVersion }}
        stdin: true
        tty: true
        resources:
          requests:
            memory: {{ .Values.admin.memoryRequest | default "50Mi" | quote }}
            cpu: {{ .Values.admin.cpuRequest | default "50m" | quote }}
          limits:
            memory: {{ .Values.admin.memoryLimit  | default "1000Mi" | quote }}
            cpu: {{ .Values.admin.cpuLimit | default "500m" | quote}}
      {{- include "plane.podScheduling" .Values.admin }}
      serviceAccount: {{ .Release.Name }}-srv-account
      serviceAccountName: {{ .Release.Name }}-srv-account
---