
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-api
  labels:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-api
spec:
  {{- if not .Values.api.assign_cluster_ip }}
  clusterIP: None
  {{- end }}
  ports:
  - name: api-8000
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-api

---

apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-api-wl
  {{- template "plane.labelsAndAnnotations" .Values.api }}
spec:
  replicas: {{ .Values.api.replicas | default 1}}
  selector:
    matchLabels:
      app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-api
  template:
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-api
      annotations:
        timestamp: {{ now | quote }}
    spec:
      containers:
      - name: {{ .Release.Name }}-api
        imagePullPolicy: {{ .Values.api.pullPolicy | default "Always" }}
        image: {{ .Values.api.image | default "artifacts.plane.so/makeplane/plane-backend" }}:{{ .Values.planeVersion }}
        stdin: true
        tty: true
        resources:
          requests:
            memory: {{ .Values.api.memoryRequest | default "50Mi" | quote }}
            cpu: {{ .Values.api.cpuRequest | default "50m" | quote }}
          limits:
            memory: {{ .Values.api.memoryLimit  | default "1000Mi" | quote }}
            cpu: {{ .Values.api.cpuLimit | default "500m" | quote}}
        command:
          - ./bin/docker-entrypoint-api.sh
        envFrom:
          - configMapRef:
              name: {{ .Release.Name }}-app-vars
              optional: false
          - secretRef:
              name: {{ if not (empty .Values.external_secrets.app_env_existingSecret) }}{{ .Values.external_secrets.app_env_existingSecret }}{{ else }}{{ .Release.Name }}-app-secrets{{ end }}
              optional: false
          - secretRef:
              name: {{ if not (empty .Values.external_secrets.doc_store_existingSecret) }}{{ .Values.external_secrets.doc_store_existingSecret }}{{ else }}{{ .Release.Name }}-doc-store-secrets{{ end }}
              optional: false
        readinessProbe:
          failureThreshold: 30
          httpGet:
            path: /
            port: 8000
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1

      {{- include "plane.podScheduling" .Values.api }}
      serviceAccount: {{ .Release.Name }}-srv-account
      serviceAccountName: {{ .Release.Name }}-srv-account
---