{{- if .Values.postgres.local_setup }}

apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-pgdb
  labels:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-pgdb
spec:
  {{- if not .Values.postgres.assign_cluster_ip }}
  clusterIP: None
  {{- end }}
  ports:
  - name: pg-{{ .Values.postgres.servicePort }}
    port: {{ .Values.postgres.servicePort }}
    protocol: TCP
    targetPort: 5432
  selector:
    app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-pgdb
---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-pgdb-wl
  {{- template "plane.labelsAndAnnotations" .Values.postgres }}
spec:
  selector:
    matchLabels:
      app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-pgdb
  serviceName:  {{ .Release.Name }}-pgdb
  template:
    metadata:
      labels:
        app.name: {{ .Release.Namespace }}-{{ .Release.Name }}-pgdb
    spec:
      containers:
      - image: {{ .Values.postgres.image }}
        imagePullPolicy: {{ .Values.postgres.pullPolicy | default "IfNotPresent" }}
        name: {{ .Release.Name }}-pgdb
        stdin: true
        tty: true
        env:
          - name: PGDATA
            value: /var/lib/postgresql/data/plane
        envFrom:
          - secretRef:
              name: {{ if not (empty .Values.external_secrets.pgdb_existingSecret) }}{{ .Values.external_secrets.pgdb_existingSecret }}{{ else }}{{ .Release.Name }}-pgdb-secrets{{ end }}
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: pvc-{{ .Release.Name }}-pgdb-vol
          subPath: ''
      {{- include "plane.podScheduling" .Values.postgres }}
      serviceAccount: {{ .Release.Name }}-srv-account
      serviceAccountName: {{ .Release.Name }}-srv-account
  volumeClaimTemplates:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      creationTimestamp: null
      namespace: {{ .Release.Namespace }}
      name: pvc-{{ .Release.Name }}-pgdb-vol
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ .Values.postgres.volumeSize | default "1Gi" | quote }}
      storageClassName: {{ .Values.postgres.storageClass }}
      volumeMode: Filesystem
      
{{- end }}